################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/basketball.db
/basketball.db-shm
/basketball.db-wal
/TeamHistories.csv
/TeamStatistics.csv
# Visual Studio cache and configuration
.vs/
*.vsdx
bin/
obj/